@import '~style';

.loader {
  background: $dark;
  bottom: 0;
  color: $white;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity ease 0.5s;
  z-index: 99999;
}

.showing {
  opacity: 1;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}
