@import '~style';

.card {
  @extend %card;
  flex: 1;
  height: auto;
  @include responsive(sm) {
    flex-basis: 100%;
    max-width: 100%;
  }

  h4 {
    font-size: em(30);
    transition: font-size ease 0.3s;
  }

  &:first-child {
    margin-right: em(30);
    @include responsive(sm) {
      margin-right: 0;
    }
  }
}

.readMore {
  @extend %button-large;
}

.card h4,
.readMoreContainer,
.excerpt {
  margin: auto;
  width: 100%;
}

.card {
  padding: em(30) em(25);
}
