@import '~style';

.card {
  @extend %card;
  cursor: pointer;
  flex: 1;
  height: em(480);
  margin-right: em(30);
  @include responsive(md) {
    flex-basis: 45%;
    margin-right: 0;
    max-width: 45%;
  }
  @include responsive(sm) {
    flex-basis: 100%;
    margin-right: 0;
    max-width: 100%;
  }

  &:not(.showing):hover {
    .lowerContainer {
      transform: translateY(24em);
    }
  }

  i {
    font-size: em(65);
    transition: font-size ease 0.2s;
  }

  h3 {
    font-size: em(30);
  }

}

.showing {
  .lowerContainer {
    transform: translateY(0);
    transition-duration: 0.5s;
  }

  i {
    font-size: em(0);
  }

  .libList li {
    font-size: 2em;
    opacity: 1;
    transition-delay: 0.3s;
    @include responsive(sm) {
      font-size: 2.5em;
    }
  }
}

.lowerContainer {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(24.4em);
  transition: transform ease 0.5s;
  /*  will-change: transform;*/

  h3 {
    margin: 0;
    padding: em(15) 0;
    text-align: center;
  }
}

.javascriptCard,
.pythonCard,
.devOpsCard,
.frontEnd {
  color: $white;
}

.javascriptCard {
  background: linear-gradient(to top left, darken($js-yellow, 20%), lighten($js-yellow, 10%));
}

.pythonCard {
  background: linear-gradient(to top left, $python-dark, $python-light);
}

.devOpsCard {
  background: linear-gradient(to top left, $dev-ops-green, lighten($dev-ops-green, 10%));
}

.frontEnd {
  background: linear-gradient(to top left, $html-orange, lighten($html-orange, 10%));
}

.libList {
  bottom: 0;
  left: 0;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;

  li {
    font-size: 0;
    font-weight: 600;
    opacity: 0;
    padding: em(5) 0;
    pointer-events: none;
    transition: all ease 0.4s;
    transition-delay: 0s;
  }
}
