%flex {
  display: flex;
}

.flex {
  @extend %flex;
};

.flex-col {
  @extend %flex;
  flex-direction: column;
};

.flex-wrap {
  flex-wrap: wrap;
};

%align-center {
  align-items: center;
};

.align-center {
  align-items: center;
};

%justify-center {
  justify-content: center;
};

.justify-center {
  justify-content: center;
};

%justify-sb {
  justify-content: space-between;
}

.justify-sb {
  justify-content: space-between;
}

.align-all-center {
  @extend %align-center;
  @extend %justify-center;
};
