@import 'variables';

@mixin fill() {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

@mixin scroll() {
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  .inner {
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
  }
}

@mixin gradient-text-fallback() {
  color: $brand-blue-primary;
}

@mixin gradient-text() {
  @include gradient-text-fallback();
  background: linear-gradient(to right, $brand-blue-primary, $brand-blue-lighter 60%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

$xs: 500px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

@mixin responsive($point) {
  @if $point == sm {
    @media (max-width: $sm) { @content ; }
  } @else if $point == md {
    @media (max-width: $md) { @content ; }
  } @else if $point == lg {
    @media (max-width: $lg) { @content ; }
  }
}

