@import 'variables';
@import 'mixins';
@import 'functions';
@import 'components';

body {
  color: $dark;
  font-family: 'Poppins', sans-serif;
};

h1,
h2 {
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: capitalize;
}

h2 {
  @extend %gradient-text;
  font-size: em(65);

  span {
    display: block;
  }

  @include responsive(sm) {
    font-size: em(40);
  }
}

p {
  font-size: em(25);
  font-weight: 500;
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
