// Branding
$brand-blue-primary: #2875e2;
$brand-blue-lighter: #0cf;
// Text Colors
$white: #fff;
$dark: #1f212b;
// Language colors
$js-yellow: #f0db4f;
$python-dark: #4584b6;
$python-light: #59aaeb;
$dev-ops-green: #4faa41;
$html-orange: #e54d26;
