@import '~style/vendor';
@import '~style/type';


* {
  box-sizing: border-box;
}

body {
  background-color: #ecf0f1;
  display: block;
  font-size: 1vw;
  @include responsive(lg) {
    font-size: 1.3vw;
  }
  @include responsive(md) {
    font-size: 1.5vw;
  }
  @include responsive(sm) {
    font-size: 2.5vw;
  }
}

/*.App {

};*/
