@import '~style';

.navOverlay {
  background: linear-gradient(to top left, $brand-blue-lighter, $brand-blue-primary 70%);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity ease 0.3s;
  will-change: opacity;
  z-index: 9999998;
}

.navOverlay ul {
  padding-left: em(50);
}

.navOverlay li {
  color: $white;
  font-size: em(70);
  font-weight: 700;
  text-transform: capitalize;
}

.navListHidden {
  display: none;
}

.toggleNavButton {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: em(50);
  justify-content: center;
  outline: none;
  position: fixed;
  right: em(15);
  top: em(10);
  width: em(40);
  z-index: 9999999;
}

.hamburgerInner {
  &,
  &::before,
  &::after {
    background-color: $dark;
  }
}

.toggleNavButton.hidden {
  opacity: 0;
  pointer-events: none;
}

.toggleNavButton.active ~ .navOverlay {
  opacity: 1;
  pointer-events: all;
}
