@import '~style';

.Work {
  h3 {
    font-size: em(24);
  }
}

.card,
.GHcard {
  @extend %card;
  flex: 1;
  height: em(480);
  @include responsive(sm) {
    flex-basis: 100%;
    max-width: 100%;
  }

  h4 {
    font-size: em(30);
  }
}

.GHcard {
  margin-right: em(30);
  min-width: 30%;
}

.card {
  background: linear-gradient(to top left, darken(#d500f9, 15%), #d500f9);
  color: $white;

  &:first-child {
    margin-right: em(30);
    @include responsive(sm) {
      margin-right: 0;
    }
  }
}
